/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
header {
  background-color: #101010;
  padding: 1em 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 14em;
  transition: transform 0.3s;
}

.nav__logo:hover {
  transform: scale(1.05);
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 1em;
}

.nav__link {
  text-transform: uppercase;
  padding: 0.5em;
  transition: color 0.3s, background-color 0.3s;
}

.nav__link:hover {
  color: #00adb5;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Main Content Styles */
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.sidebar {
  width: 12em;
  padding: 1em;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.sidebar:hover {
  transform: translateY(-5px);
}

.sidebar .fa-solid {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #00adb5;
  transition: color 0.3s;
}

.sidebar a {
  margin-bottom: 1em;
  text-transform: uppercase;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #00adb5;
}

.content,
.content-2 {
  flex: 1;
  padding: 2em;
  margin-left: 2em;
  background: #202020;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.content-3 {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
  position: relative;
}

.content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Section Styles */
.section {
  flex: 1;
  min-width: 300px;
  margin-bottom: 2em;
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.section--about {
  background-image: linear-gradient(120deg, #0a0a0a, #1e1e1e);
  background-size: cover;
}

.section--stats {
  background-image: linear-gradient(120deg, #0a0a0a, #1e1e1e);
  background-size: cover;
}

.section--blog {
  flex: 1 1 calc(45% - 2em);
  margin-bottom: 2em;
  padding: 2em;
  background: #202020;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--blog img {
  max-width: 100%;
  border-radius: 8px;
}

.section--blog:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.section--blog h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.section--blog p {
  text-align: center;
  margin-top: 1em;
}

.section--blog .fa-solid,
.add-button .fa-solid {
  font-size: 1.3em;
}

.align-p {
  display: flex;
  margin-top: 1em;
}

.section__title {
  text-transform: uppercase;
  color: #00adb5;
  margin-bottom: 0.5em;
}

.section__title2 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.section__text {
  margin-bottom: 1em;
}

.section__text span {
  color: #00adb5;
  text-transform: uppercase;
}

.searchbar {
  width: 100%;
  background-color: #151515;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.searchbar input {
  width: 90%;
  background-color: transparent;
  border: none;
  padding: 0.5em;
  color: #fff;
}

.searchbar .fa-solid {
  margin-left: 4em;
  cursor: pointer;
  font-size: 1em;
  transition: font-size 0.3s;
}

.searchbar .fa-solid:hover {
  font-size: 1.2em;
}

#about select {
  background-color: #151515;
  color: #fff;
  padding: 0.3em;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8px;
}

.button {
  padding: 0.5em 1em;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #00adb5;
  transform: scale(1.05);
}

.button-container {
  margin-top: 1em;
}

.button-link,
.add-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0 0.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

.button-link:hover,
.add-button:hover {
  font-size: 0.9em;
}

.add-button .fa-solid {
  margin-right: 0.3em;
}

.button-blue,
.fa-pen-to-square {
  color: #00adb5;
  transition: color 0.3s;
}

.button-red,
.fa-trash {
  color: #ff4e50;
  transition: color 0.3s;
}

.add-button,
.fa-plus {
  color: #00b585;
  transition: color 0.3s;
}

.add-section {
  position: absolute;
  bottom: -1em;
  left: 26.5em;
}

.stats {
  display: flex;
  flex-wrap: wrap;
}

.stats__item {
  display: flex;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 2em;
}

.stats__image-wrapper {
  font-size: 2em;
  color: #00adb5;
  padding: 0 1em;
}

.stats__title {
  color: #00adb5;
  font-size: 1em;
}

.list {
  margin-top: 20px;
}

.category-row {
  background-color: #00adb5;
  margin-top: 1em;
  border-radius: 8px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.result-row,
.category-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 0.5em;
  margin: 0.5em 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-row:hover {
  background-color: rgba(0, 173, 181, 0.1);
}

.result-total {
  margin-top: 10px;
  color: #00adb5;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.load-more-button,
.pagination-button {
  padding: 0.5em 1em;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 0.5em;
}

.load-more-button:hover,
.pagination-button:hover {
  background-color: #00adb5;
  transform: scale(1.05);
}

.populate {
  margin-bottom: 1em;
  font-style: italic;
}

/* ALERTES */
.success,
.error {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}

.success {
  color: rgb(47, 118, 47);
}

.error {
  color: rgb(217, 64, 64);
}

/* Responsive Design */

@media (max-width: 1220px) {
  .content-3 {
    grid-template-columns: 1fr;
  }

  .add-section {
    left: 10em;
  }
}

@media (max-width: 768px) {
  .content-3 {
    width: 100%;
  }

  .add-section {
    left: 38%;
  }

  .nav__logo {
    width: 10em;
  }

  .nav__link {
    font-size: 0.8em;
  }
  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
  }

  .sidebar .fa-solid {
    font-size: 1.5em;
  }

  .sidebar a {
    font-size: 0.8em;
    padding-left: 0.3em;
    margin-right: 1em;
  }

  .main {
    flex-direction: column;
  }

  .content,
  .content-2,
  .content-3 {
    margin-left: 0;
    margin-bottom: 2em;
  }

  .section--blog {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .add-section {
    left: 36%;
  }
  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 0.5em;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
  }

  .content,
  .content-2 {
    margin-left: 0;
  }
}
